<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WILPROJECT"
        tools:targetApi="31">
        <activity
            android:name=".TextbookList"
            android:exported="false" />
        <activity
            android:name=".ChatHistory"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".NotesUpdate"
            android:exported="false" />
        <activity
            android:name=".NotesAdd"
            android:exported="false" />
        <activity
            android:name=".adapter.NotesAdapter"
            android:exported="false" />
        <activity
            android:name=".NotesFront"
            android:exported="false" />
        <activity
            android:name=".CalenderFront"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".PasswordChanged"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".BookReaderActivity"
            android:exported="false"/>
        <activity
            android:name=".EpubViewerActivity"
            android:exported="false"
            />
        <activity
            android:name=".PdfViewerActivity"
            android:exported="false"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cmt.projects.subproject.file provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>